.swiperWrap {
  /* border: 3px solid gray; */
  /* position: relative; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper {
  /* border: 1px solid red; */
  box-shadow: 0 0 16px var(--c-gray);
  border-radius: 2rem;
  margin: 5rem;
  /* position: absolute; */
  width: 60vw;
  min-height: 35vw;

  /* left: 50%;
  top: 10rem;
  transform: translateX(-50%); */
}
.swiperWrap img {
  width: 20rem;
  object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: var(--color-primary);
}

.swiper-pagination-progressbar {
  --swiper-pagination-progressbar-bg-color: var(--c-silver);
  top: 20px;
  border-radius: 2rem;
}
.swiper-pagination-horizontal {
  border-radius: 2rem !important;
  height: 2rem !important;
  width: 80% !important;
}
.swiper-pagination {
  z-index: 3;
}

.submitBtn {
  font-size: 2rem;
  color: var(--color-primaryPale);
  border-radius: 4rem;
  background-color: var(--color-primaryLight);
  padding: 1rem 2rem;
  cursor: default;
}

.submitBtn.active {
  color: white;
  background-color: var(--color-main);
  cursor: pointer;
}

.submitBtn.active:hover {
  box-shadow: 0 0 4px var(--c-gray);
}
